%footer
  %ul.list-inline
    %li
      %a{href: "#"} About
    %li
      %a{href: "#"} Help
    %li
      %a{href: "#"} Blog
    %li
      %a{href: "#"} Status
    %li
      %a{href: "#"} Jobs
    %li
      %a{href: "#"} Terms
    %li
      %a{href: "#"} Privacy
    %li
      %a{href: "#"} Cookies
    %li
      %a{href: "#"} Ads Info
    %li
      %a{href: "#"} Brand
    %li
      %a{href: "#"} Advertise
    %li
      %a{href: "#"} Businesses
    %li
      %a{href: "#"} Media
    %l
      %a{href: "#"} Developers
    %li
      %a{href: "https://ronin.makersacademy.com"} Makers
    %li
      %a{href: "https://github.com/yevdyko"} &copy;&nbsp; 2016 Yev Dyko
