%h1 Peeps
%ul.peeps__list
  - @peeps.reverse.each do | peep |
    %li.peeps__item
      %p= peep.user.name
      %span @#{peep.user.username}
      %p= format_time(peep.created_at)
      %p= peep.message
%a{href: '/peeps/new'} Write a Peep!
