!!!
%html
  %head
    %title Welcome to Chitter.

  %body
    - if current_user
      Welcome, #{current_user.name}!
      %form{action: '/sessions', method: 'POST'}
        %input{type: 'hidden', name: '_method', value: 'delete'}
        %input{type: 'submit', value: 'Log out'}

    = partial :'partials/navbar'
    = partial :'partials/flash_errors'

    = yield
